ELF_parse/cmake-build-debug/
DexParse/cmake-build-debug/

shell_elf/obj/
load_elf/obj/
plt_inline_hook/obj/

shell_elf_as/*.iml
shell_elf_as/.gradle
shell_elf_as/local.properties
shell_elf_as/.idea/caches
shell_elf_as/.idea/libraries
shell_elf_as/.idea/modules.xml
shell_elf_as/.idea/workspace.xml
shell_elf_as/.idea/navEditor.xml
shell_elf_as/.idea/assetWizardSettings.xml
shell_elf_as/.DS_Store
shell_elf_as/build
shell_elf_as/captures
shell_elf_as/.externalNativeBuild
shell_elf_as/.cxx
shell_elf_as/local.properties